@charset "UTF-8";
   
/*configuraciones generales*/

@font-face {
        font-family: Montserrat Regular;
        src: url(fonts/Montserrat-Bold.ttf) format(truetype);
        font-weight: normal;
        font-style: normal;

    }
   @font-face {
    font-family: Montserrat Bold;
    src: url(fonts/Montserrat-Bold.ttf)format(truetype);
    font-weight: bold;
    font-style: normal;
   } 
   @font-face {
    font-family: Montserrat Italic;
    src: url(fonts/Montserrat-Italic.ttf) format(truetype);
    font-weight:normal;
font-style: italic;
   }
   @font-face {
    font-family: Montserrat Light;
    src: url(fonts/Montserrat-Light.ttf) format(truetype);
    font-weight: light;
    font-style: normal
   }
   @font-face {
    font-family: Montserrat Medium;
    src: url(fonts/Montserrat-Medium.ttf) format(truetype);
    font-weight: medium;
    font-style: normal;
   }
   @font-face {
    font-family: Montserrat Semibold;
    src: url(fonts/Montserrat-SemiBold.ttf) format;
   }
