@charset "UTF-8";

/*configuraciones generales*/

@font-face {
    font-family: "Montserrat Regular";
    src: url(fonts/Montserrat-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Bold";
    src: url(fonts/Montserrat-Bold.ttf)format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Italic";
    src: url(fonts/Montserrat-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat Light";
    src: url(fonts/Montserrat-Light.ttf) format("truetype");
    font-weight: light;
    font-style: normal
}

@font-face {
    font-family: "Montserrat Medium";
    src: url(fonts/Montserrat-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Semibold";
    src: url(fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sligoil Micro Bold";
    src: url(fonts/Sligoil-MicroBold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sligoil Micro";
    src: url(fonts/Sligoil-Micro.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sligoil Micro Medium";
    src: url(fonts/Sligoil-MicroMedium.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Alegreya', serif;
    font-weight: normal;
    font-size: 1rem;
    color: rgb(26, 26, 26);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #095c09;
}

/*aplicaciones*/

nav a {
    font-family: "Montserrat Semibold", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: #f5f5dc;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #6b8e4e;
}

nav {
    text-align: center;
    display: flex;
    padding: 10px;
    background-color: #6b8e4e;
    gap: 30px;
}

.contenedor-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 1200px;
}

p {
    text-wrap: pretty;
    color: #f5f5dc;
    margin: 0px 10px 20px;
    padding-left: 0px;
    max-width: 933px;
    width: 100%;
}

h1 {
    font-family: "Sligoil Micro Bold", sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: #f5f5dc;
    padding: 20px 0 10px 36px
}

h2 {
    font-family: "Sligoil Micro", sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    color: #f5f5dc;
    margin: 30px 0px 5px;
}

h3 {
    font-family: "Alegreya", serif;
    font-weight: bold;
    font-size: 1rem;
    color: #f5f5dc;
    padding: 10px;
}

ul li {
    color: #f5f5dc;
    padding-left: 10px;
    max-width: 400px;
    width: 100%;
}

li a {
    color: #f5f5dc;
    padding: 10px 10px 0;
}

#bajada {
    font-family: "Montserrat Italic", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: beige;
    padding: 0 36px 0;
    margin: 0;
}

#hero {
    background-image: url(img/foto-hero.png);
    background-size: cover;
    background-position: center;
    height: 830px;
    margin: 0;
    width: 100%;
}

.subtitulo-hab {
    font-family: 'Sligoil Micro', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    text-decoration: underline;
    color: #f5f5dc;
    padding: 30px 10px 0;
}

.flex-container {
    height: 250px;
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.flex-container img {
    border-radius: 12px;
    width: 200px;
    height: 200px;
    min-width: 0;
}

.habilidades-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    gap: 10px 40px;
    list-style: disc;
    list-style-position: inside;
}

/*linea de tiempo*/
.timeline {
    list-style: none;
}

footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-contenido {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-contenido ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.footer-contenido li {
    display: flex;
    align-items: center;
    gap: 8px;
}
footer h2 {
    padding: 30px;
}

#catedra {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    margin-left: 40px;
}


#sobre-mi {
    background-color: #f5f5dc;
    border-radius: 40px;
    margin: 60px 10px 10px 10px;
    padding: 10px 30px;
    max-height: 475px;
}


#sobre-mi h2,
#sobre-mi h3,
#sobre-mi p {
    color: #095c09;
    margin: 10px 0;
}

#sobre-mi h2 {
    padding: 20px 40px 0 0;
    margin: 0;
}

#estudios h2,
#estudios h3,
#estudios p {
    padding: 10px 40px 0 30px;
    margin: 10px 10px;
}

#estudios {
    margin-top: 60px;
}

#estudios h2 {
    border-bottom: 3px solid #6b8e4e;
}

#habilidades {
    margin-top: 60px;
}

#habilidades h2,
#habilidades ul {
    padding: 10px 40px 0 30px;
    margin: 10px 10px;
}

#habilidades h2 {
    border-bottom: 3px solid #6b8e4e;
}

#experiencia {
    background-color: #6b8e4e;
    border-radius: 40px;
    margin: 60px 10px 10px 10px;
    padding: 10px 30px;
}

#experiencia ul {
    list-style-type: disc;
}
